{% if page.title == "Home" %}{% assign showHeader = true %}{% endif %}

<!-- or page.title == "Blog" or page.title == "Projects" or page.title == "Bio" or page.title == "Links" or page.title == "Research" -->

{% if showHeader == true %}
    <header class="header-home">
        <img class="selfie" alt="{{ site.name }}" src="{{ site.url }}/{{ site.picture }}" />

        <h1 class="title">{{ site.name }}</h1>
        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>
{% endif %}

{% include nav.html %}
